:host {
    display: unset!important;
}
.card-no-border {
  border-radius: .25rem;
  position: relative;
}

.title-breadcrumb {
    font-size: 16px;
    font-weight: 100;
}

.inline-title{
    display: flex;
    flex-direction: row;
    padding: 0 65px 15px 65px;
}

.inline-title .mat-icon.mat-icon-inline{
    font-size: 35px;
    line-height: 73px;
    margin-right: 10px;
}

.title-metadados {
    font-weight: 100;
}

.flex {
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.reserva-btn {
  background: rgb(34,24,55);
  background: linear-gradient(155deg, rgba(34,24,55,1) 50%, rgba(119,37,61,1) 93%, rgba(110,24,32,1) 100%);
  padding: 8px 20px;
  width: 80%;
  font-weight: 300;
  font-size: 20px;
  margin: 0 35px 0 17px;
}
